<% content_for :title do %>Editing Article
<% @article.id end %>
<nav class="nav navbar">
  <div class="container-fluid">
    <div class="navbar-left">
      <h1>New Article</h1>
    </div>
    <div class="navbar-right h1">
      <%= link_to 'Back', articles_path, class: 'btn btn-warning' %>
    </div>
  </div>
</nav>

<%= render 'form' %>
