<% content_for :title do %>Articles
<% end %>
<div class="page-header">
  <h1>Article list<br>
    <small>List of all articles created</small>
  </h1>
</div>

<%= render 'articles/article', obj:@articles %>