<h1 class="page-header">Article title<br>
  <small><%= @article.title %></small>
</h1>

<p class="lead">
  <%= @article.description %>
</p>

<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary'; %>
<%= link_to 'Back to list', articles_path, class: 'btn btn-default'; %>
