<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item">
      <%= image_tag 'background_01.jpg', alt: 'Background image', class: 'first-slide' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Alpha Blog Project.</h1>
          <p>SAMPLE: This is my first project with Ruby on Rails, you can view the CodeSource via <code>github</code>
            URL, if you want, you can download and reuse, the code is use free.</p>
          <p><%= link_to('Download', 'https://github.com/nomada86/alpha-blog', class: "btn btn-lg btn-primary", role: "button") %></p>
        </div>
      </div>
    </div>
    <div class="item active">
      <%= image_tag 'background_02.jpg', alt: 'Second slide Background image', class: 'second-slide' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Alpha blog.</h1>
          <p>register and enjoin our blog.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sing up</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'background_02.jpg', alt: 'Background image', class: 'third-slide' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Make a new friends</h1>
          <p>Login and finf new friend or enjoin other comments form from your friends in our blog.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Login</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- /.carousel -->