<div class="container container-fluid text-center">
  <hr/>
  <a href="#" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <div class="row">
    <div class="col-md-8">
      <p>Copyright &copy; Adrian Higuita - this Website was created with Ruby on Rails</p>
    </div>
    <div class="col-md-4">
      <ol class="breadcrumb">
        <li><%= link_to 'Homepage', root_path %></li>
        <li><%= link_to 'About us', about_path %></li>
      </ol>
    </div>
  </div>
</div>